<br>
<div class="row align-content-end">
    <div class="col-lg-12 text-center footer">
        GigaMocni! <script>document.write(new Date().getFullYear())</script> &copy; 
        Wszelkie prawa zatrzeżone
                    <br>
                    <% if(return_route){ %>
                        <a href="/members/login?return_route=<%= return_route %>">panel administracyjny</a>
                    <% } else { %> 
                        <a href="/members/login?return_route=<%= route %>">panel administracyjny</a>
                    <% } %>
    </div>
</div>
</body>
</html>