<%- include("partials/header") %>


<div class="container block">
    <div class="row">
        <div class="col-lg-12 text-center">
            <img src="./logo.png" alt="logo" class="logo-home">
            <h1 class="subpage-title welcome">Witaj na stronie GigaMocnych!</h1>
           
        </div>
    </div>
</div>

<script>
    $("#dashboard").addClass("active");
</script>
<%- include("partials/footer") %>